<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Data Source=(LocalDb)\flash_cards;Integrated Security=True"/>
		<add key="languages_db" value="
			 IF OBJECT_ID(N'languages', N'U') IS NULL
			 CREATE TABLE languages (
                language_id INT IDENTITY PRIMARY KEY,
                name VARCHAR(255) NOT NULL,
				CONSTRAINT unique_language UNIQUE(name)
                );"/>
		<add key="flash_card_db" value="IF OBJECT_ID('flash_card', 'U') IS NULL                
	CREATE TABLE flash_card (
				id INT IDENTITY PRIMARY KEY,
				language_id INT NOT NULL,
                card_Front VARCHAR(255) NOT NULL,
  				card_Back VARCHAR(255) NOT NULL,
				CONSTRAINT fk_lang_cards FOREIGN KEY (language_id)
                REFERENCES languages(language_id)
				ON DELETE CASCADE
				ON UPDATE CASCADE
  				);"/>
		<add key="study_sessions_db" value="IF OBJECT_ID('study_sessions', 'U') IS NULL                
	CREATE TABLE study_sessions (
				id INT IDENTITY PRIMARY KEY,
				language_name VARCHAR(255) NOT NULL,
                start_time VARCHAR(255) NOT NULL,
  				end_time VARCHAR(255) NOT NULL,
				correct VARCHAR(255) NOT NULL,
				CONSTRAINT fk_lang_study_session FOREIGN KEY (language_name)
                REFERENCES languages(name)
				ON DELETE CASCADE
				ON UPDATE CASCADE
  				);"/>
	</appSettings>
</configuration>